/* Warnaza — mode: dark */
:root {
  --warnaza-dark0: #000004;  /* L=0.08 */
  --warnaza-dark1: #04040c;  /* L=1.26 */
  --warnaza-dark2: #040410;  /* L=1.36 */
  --warnaza-dark3: #101018;  /* L=4.94 */
  --warnaza-dark4: #0c141c;  /* L=5.98 */
  --warnaza-dark5: #181824;  /* L=8.78 */
  --warnaza-dark6: #181c28;  /* L=10.39 */
  --warnaza-dark7: #202834;  /* L=15.86 */
  --warnaza-dark8: #283040;  /* L=19.78 */
  --warnaza-dark9: #303848;  /* L=23.42 */
  --warnaza-dark10: #344050;  /* L=26.67 */
  --warnaza-mid0: #485868;  /* L=36.66 */
  --warnaza-mid1: #48586c;  /* L=36.82 */
  --warnaza-mid2: #546070;  /* L=40.28 */
  --warnaza-mid3: #506078;  /* L=40.29 */
  --warnaza-mid4: #606878;  /* L=43.86 */
  --warnaza-mid5: #687080;  /* L=47.09 */
  --warnaza-mid6: #647890;  /* L=49.68 */
  --warnaza-mid7: #687c94;  /* L=51.26 */
  --warnaza-mid8: #708498;  /* L=54.25 */
  --warnaza-mid9: #808898;  /* L=56.55 */
  --warnaza-mid10: #9098a8;  /* L=62.69 */
  --warnaza-light0: #ec9474;  /* L=69.67 */
  --warnaza-light1: #a0b8c8;  /* L=73.5 */
  --warnaza-light2: #f0a490;  /* L=74.25 */
  --warnaza-light3: #e8ac90;  /* L=75.25 */
  --warnaza-light4: #f4bc94;  /* L=80.37 */
  --warnaza-light5: #f4d0c8;  /* L=86.26 */
  --warnaza-light6: #e8e0e0;  /* L=89.79 */
  --warnaza-light7: #e8e4e0;  /* L=90.79 */
  --warnaza-light8: #fce4c4;  /* L=91.76 */
  --warnaza-light9: #e8e8e4;  /* L=91.9 */
}