[Colors:View]
BackgroundNormal={{dark1_rgb}}
ForegroundNormal={{light1_rgb}}
BackgroundAlternate={{dark3_rgb}}

[Colors:Window]
BackgroundNormal={{dark3_rgb}}
ForegroundNormal={{light1_rgb}}

[Colors:Button]
BackgroundNormal={{dark4_rgb}}
ForegroundNormal={{light1_rgb}}
BackgroundAlternate={{mid7_rgb}}
ForegroundAlternate={{dark0_rgb}}

[Colors:Selection]
BackgroundNormal={{mid7_rgb}}
ForegroundNormal={{dark0_rgb}}

[General]
ColorScheme=WarnazaCustom

[Icons]
Theme=Tela-dark