[Colors:View]
BackgroundNormal={{light9_rgb}}
ForegroundNormal={{dark1_rgb}}
BackgroundAlternate={{light7_rgb}}

[Colors:Window]
BackgroundNormal={{light7_rgb}}
ForegroundNormal={{dark1_rgb}}

[Colors:Button]
BackgroundNormal={{light6_rgb}}
ForegroundNormal={{dark1_rgb}}
BackgroundAlternate={{mid5_rgb}}
ForegroundAlternate={{light9_rgb}}

[Colors:Selection]
BackgroundNormal={{mid5_rgb}}
ForegroundNormal={{light9_rgb}}

[General]
ColorScheme=WarnazaCustom

[Icons]
Theme=Tela
