]4;0;{{dark0}}\]4;1;{{mid6}}\]4;2;{{mid3}}\]4;3;{{mid7}}\]4;4;{{mid1}}\]4;5;{{mid9}}\]4;6;{{dark10}}\]4;7;{{light7}}\]4;8;{{dark3}}\]4;9;{{mid6}}\]4;10;{{mid4}}\]4;11;{{mid8}}\]4;12;{{mid2}}\]4;13;{{mid10}}\]4;14;{{mid0}}\]4;15;{{light9}}\]10;{{light1}}\]11;{{dark1}}\]12;{{mid7}}\]13;{{mid7}}\]17;{{light1}}\]19;{{dark1}}\]4;232;{{dark1}}\]4;256;{{light1}}\]708;{{dark1}}\
